{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-screen">
  <div class="w-2/3 h-2/3 bg-cyan-700 bg-opacity-50 flex justify-center items-center">
    <form method="post">
      {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}

      {% if app.user %}
          <div class="mb-3">
              You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
          </div>
      {% endif %}

      <h1 class="mb-3 text-xl font-bold font-comfortaa">Please login</h1>
      <div class="mb-4 ">
        <input type="email" placeholder="Email" value="{{ last_username }}" name="email" id="inputEmail" class="rounded" autocomplete="email" required autofocus>      </div>
        <div class="mb-4">
        <input type="password" placeholder="Password" name="password" id="inputPassword" class="rounded" autocomplete="current-password" required>
      </div>

      <input type="hidden" name="_csrf_token"
             value="{{ csrf_token('authenticate') }}"
      >
  <div class="flex justify-between">
      <button class="font-comfortaa font-bold underline underline-offset-[6px]" type="submit">
          Login
      </button>
      <a href="{{ path('app_register') }}" class="font-comfortaa font-bold underline underline-offset-[6px]" type="submit">
          Sign up
      </button>
  </div>
    </form>
  </div>
</div>
{% endblock %}
