{% extends 'base.html.twig' %}

{% block title %}UserInformation index{% endblock %}

{% block body %}
<div class="pt-20 flex items-center justify-center">
    <img src="{{ asset('img/female.svg') }}" alt="Description">
    <div>
        {% for user_information in user_informations %}
            <div class="p-8">
                <div class="pt-2"><span class="text-xl font-comfortaa">first name :</span>  <span class="font-bold text-xl font-comfortaa"> {{ user_information.firstName }} </span> </div>
                <div class="pt-2"><span class="text-xl font-comfortaa">last name :</span> <span class="font-bold text-xl font-comfortaa">{{ user_information.lastName }} </span></div>
                <div class="pt-2"><span class="text-xl font-comfortaa">gender :</span> <span class="font-bold text-xl font-comfortaa">{{ user_information.gender }} </span></div>
                <div class="pt-2"><span class="text-xl font-comfortaa">date of birth :</span> <span class="font-bold text-xl font-comfortaa">{{ user_information.dateOfBirth|date('Y-m-d') }} </span></div>
                <div class="pt-2"><span class="text-xl font-comfortaa">height :</span> <span class="font-bold text-xl font-comfortaa">{{ user_information.height }}m </span></div>
                <div class="pt-2"><span class="text-xl font-comfortaa">weight :</span> <span class="font-bold text-xl font-comfortaa">{{ user_information.weight }}kg </span></div>
                <div class="pt-2"><span class="text-xl font-comfortaa">IMC :</span> <span class="font-bold text-xl font-comfortaa">{{ user_information.bmi|round(1) }} </span></div>
                <div class="mt-2">
                    {# <a href="{{ path('app_user_information_show', {'id': user_information.id}) }}" class="text-blue-500">show</a> #}
                    <a href="{{ path('app_user_information_edit', {'id': user_information.id}) }}"><div class="underline-offset-8">Texte souligné</div></a>
                </div>
            </div>
        {% else %}
            <div class="border p-4">
                <div class="font-bold">No records found</div>
            </div>
        {% endfor %}
    </div>
    
    {% if user_informations|length == 0 %}
        <a href="{{ path('app_user_information_new') }}" class="text-blue-500 mt-4">Create new</a>
    {% endif %}
    
</div>
{% endblock %}
