{% extends 'base.html.twig' %}

{% block title %}UserInformation index{% endblock %}

{% block body %}
<div class="content pt-16">

    <h1>UserInformation index</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>First name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Date of birth</th>
                <th>Height</th>
                <th>Weight</th>
                <th>IMC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_information in user_informations %}
            <tr>
                {# <td>{{ user_information.id }}</td> #}
                <td>{{ user_information.firstName }}</td>
                <td>{{ user_information.lastName }}</td>
                <td>{{ user_information.gender}}</td>
                <th>{{ user_information.dateOfBirth|date('Y-m-d') }}</th>
                <td>{{ user_information.height }}m</td>
                <td>{{ user_information.weight }}kg</td>
                <td>{{ user_information.bmi|round(1) }}</td>
                <td>
                    <a href="{{ path('app_user_information_show', {'id': user_information.id}) }}">show</a>
                    <a href="{{ path('app_user_information_edit', {'id': user_information.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_user_information_new') }}">Create new</a>
</div>
{% endblock %}
